<div class="container">

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= @user.name %>
          <% if @user.admin %>
            (Admin)
          <% else %>
            (Regular user)
          <% end %>
        </h2>
      </div>
      <div class="panel-body">
          <p>Email adress: <%= @user.email %></p>
          <p>Account created on <%= @user.created_at %></p>
          <p>Last sign on <%= @user.last_sign_in_at %></p>
      </div>
    </div>
  <% if @user.products.size > 0 %>
    <h3>Your products:</h3>
    <table class="table table-hover">
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th></th>
    <% @user.products.each do |product| %>
      <tr>
        <td>
          <%= link_to product.name, product_path(product) %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.description %>
        </td>
        <td>
          <%= link_to 'Edit product', edit_product_path(product) %>
        </td>
      </tr>
    <% end %>
  <% end %>

</div>
