<div class="flash-box">
  <%= flash[:info] %>
</div>
<br>

<div class="container">
  <% @categories.each do |category| %>

    <% if(@categories.first == category || @categories[6] == category) %>
      <div class="col-md-8 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title"><%= link_to category.name.capitalize, category_path(category) %><span class="glyphicon glyphicon-chevron-right pull-right"></span></h2>
        </div>
        <div class="panel-body">
          <% category.products.each do |product| %>
            <%= link_to((image_tag product.pictures.first.s3picture.url(:medium)), product_path(product)) %>
          <% end %>
          <div class="text-right"><%= link_to(category.products.length.to_s + " products", category_path(category))%></div>
        </div>
      </div>
    </div>
    <% elsif %>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"><%= link_to category.name.capitalize, category_path(category) %><span class="glyphicon glyphicon-chevron-right pull-right"></span></h2>
          </div>
            <div class="panel-body">
              <div class="text-right"><%= link_to(category.products.length.to_s + " products", category_path(category))%></div>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

