<div class="container">

  <div class="page-header">
    <h1 class="text-center"><%= @category.name.capitalize %></h1>
    <h1 class="text-right"><small><%= @products.length %> products</small></h1>
  </div>

    <% @products.each do |product| %>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"><%= link_to product.name.capitalize, product_path(product) %> <span class="pull-right">
              <% if product.price % 1 == 0 %>
                <%= product.price.to_i %>
              <% else %>
                <%= product.price %>
              <% end %>
               €</span></h2>
          </div>
            <div class="panel-body">
              <div>
                <%= image_tag product.pictures.first.s3picture.url(:medium) %>
              </div>
              <p><%= product.description%></p>
              <!-- <button type="button" class="btn btn-success pull-right">Buy it</button> -->
            </div>
        </div>
      </div>

    <% end %>

</div>
