<%= form_for @product, :html => { :multipart => true } do |f| %>
  <div><%= f.label :name %></div>
  <div><%= f.text_field :name %></div>
  <div><%= f.label :category_id %></div>
  <div><%= f.select(:category_id, options_for_select(@categories)) %></div>
  <div><%= f.label :price %></div>
  <div><%= f.text_field :price %></div>
  <div><%= f.label :quantity %></div>
  <div><%= f.text_area :quantity %></div>
  <div><%= f.label :localization %></div>
  <div><%= f.text_field :localization %></div>
  <div><%= f.label :description %></div>
  <div><%= f.text_area :description %></div>
  <%= f.fields_for :pictures, @product.pictures.build do |picture_f| %>
    <%= picture_f.hidden_field :product_id, value: @product.id %>
    <%= picture_f.label :s3picture %><br>
    <%= picture_f.file_field :s3picture %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
