<div class="container">

  <div class="row">
    <div class="col-sm-7">
      <% if @product.pictures.size > 0 %>
        <% @product.pictures.each do |picture| %>
          <%= image_tag picture.s3picture.url(:medium) %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-5 infoswrapper">
      <h2><%= @product.name %></h2>
      <p>Price :
        <% if @product.price % 1 == 0 %>
          <%= @product.price.to_i %>
        <% else %>
          <%= @product.price %>
        <% end %> €
      </p>
      <p>Localization : <%= @product.localization %></p>
      <p>Added on <%= @product.created_at.to_date %></p>
      <p>Description : <%= @product.description %></p>
    </div>
  </div>

  <div class="row">
    <div>
      <%= link_to "Back to products list", category_path(@product.category) %>
    </div>
    <div>
      <%= link_to "Edit product", edit_product_path(@product) %>
    </div>
    <div>
      <%= link_to "Delete product", product_path(@product), method: :delete %>
    </div>

  </div>

</div>

