<h1><%= @product.name %></h1>
<br>
<%= @product.pictures.size %>
<% @product.pictures.each do |picture| %>
  <%= image_tag picture.s3picture.url(:medium) %>
  <%= picture.id %>
<% end %>

<div>
  Localization : <%= @product.localization %>
</div>
<div>
  Quantity : <%= @product.quantity %> left.
</div>
<div>
  Added on <%= @product.created_at.to_date %>
</div>
<div>
  Description :<%= @product.description %>
</div>
<div>
  Price : <%= @product.price %> €
</div>
<br>
<div>
<%= link_to "Back to products list", category_path(@product.category) %>
</div>
<div>
<%= link_to "Edit product", edit_product_path(@product) %>
</div>
